/*  variables */

:root {
    --black: rgb(23, 23, 23);
    --white: rgb(248, 246, 246 );
    --grey:  rgb(128, 128, 128);
    --dark-grey: rgb(57, 57, 57);


}


/* utilites */
.button {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;

}

.button-white{
    background-color: var(--white);
    color: var(--black);
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;


}

.space-evenly {
    justify-content: space-evenly;
}

.responsive-image {
    width: 100%;
    height: auto;

}

/*   app specific */
html, body {
    margin:0 ;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--white);

}
.container{
    width: 70%;
    margin: auto;

}



.page-header , .page-footer{
    background-color: var(--black);
    color: var(--white);
    padding: 1rem ;

}

.page-title {
    margin: 0;
    text-align: center;
}

ion-icon {
    vertical-align: middle;

}

ul {
    list-style-type: none;
    padding: 0;

}