

.container{
    width: 100%;
    height: 112vh;
    background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    height: auto;
    padding: 25px;
    display: flex;
    gap: 2vw;
}
nav div{
    flex: 1;
}
#napdiv{

    text-align: center;
}
#napdiv a{

    padding: 3px;
    color: white;
    width: 10vw;
    margin-left: 8vw;
    cursor: pointer;
    font-size: 3vw;
    text-decoration: none;
}
nav h1{
    font-size: 3.5vw;
}
#sisältö{
    margin-top: 5px;
    display: flex;
    height: 85vh;
    gap: 3vw;
    justify-content: center;
}
#middle{

    height: 95%;
    padding: 10px;
}

#maponly{
    width: 100%;
}
#map{
    width: 100%;
    height: 60%;
}
#miniotsikko{
    width: 100%;
    text-align: center;
    margin-top: 15%;
}
#score{
    width: 100%;
    margin-top: 2.5%;
    height: 25%;
    border: 1px solid black;
}
#sides{
    width: 15vw;
    height: 100%;
    display: grid;
    gap: 5px;

}
#sides p {

}
#sides div{
    border: 1px solid #A4C6EB;
    text-align: center;
    padding: 20px 0 0 0 ;
    background: #A4C6EB;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.btn-field button{
    margin-top: 15px;
    flex-basis: 48%;
    background: #ADD8E6;
    color: #7393B3;
    height: 40px;
    border-radius: 40px;
    border: 5px;
    outline: 5px;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable{
    background: #ADD8E6;
    color: #7393B3;
}

.page-header , .page-footer{
    background-color: var(--black);
    color: var(--white);
    padding: 1rem ;

}