*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    color: #A7D0D9;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #7393B3;
    position: relative;
}
.form-box h1::after{
    content:'';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#7393B3;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #F0FFFF;
    color: #7393B3;
    margin: 5px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: #ADD8E6;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #F0FFFF;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    margin-top: 15px;
    flex-basis: 48%;
    background: #ADD8E6;
    color: #7393B3;
    height: 40px;
    border-radius: 40px;
    border: 5px;
    outline: 5px;
    cursor: pointer;
    transition: background 1s;
}
.input-group i{
    height: 280px;
}
.btn-field button.disable{
    background: #ADD8E6;
    color: #7393B3;
}